@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your Password Has Been Reset. Please <a asp-page="./Login">Click Here To LogIn</a>.
</p>
